- 
    const cols = 12;
    let i;

.wrapper
    h1.header
        | Brigrid 
        span.accent Demo
    
    section.demo-section

        h3 Grid columns
        .container
            - i = 1;
            while (i < cols)
                div(class=`col col-${i}-sm`)
                    .card= i
                div(class=`col col-${cols - i}-sm`)
                    .card= (cols - i)
                - i++;
            div(class=`col col-${cols}-sm`)
                .card= cols
                
        h3 Dynamic grid cols (xs:12, sm:6, md:4, lg:3, xl:2, xx:1)
        .container
            - i = 1;
            while (i <= cols)
                div(class="col col-6-sm col-4-md col-3-lg col-2-xl col-1-xx")
                    .card
                - i++;
            
    section.demo-section
        h2 Horizontal self alignment

        h3 Start horizontal self alignment
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.col--h-start
                .card.card--accent LEFT
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card  

        h3 Central horizontal self alignment
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.col--h-center
                .card.card--accent CENTER
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card   

        h3 End horizontal self alignment
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.col--h-end
                .card.card--accent RIGHT
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card

        h3
            | Dynamic horizontal self alignment 
            span.accent (md:start, lg:center, xl:end)
            div.additional (resize the window to see the changes)
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.col--h-start-md.col--h-center-lg.col--h-end-xl
                .card.card--accent DYNAMIC
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card  

    section.demo-section
        h2 Vertical self alignment

        h3 Top vertical self alignment
        .container
            div(class="col col-" + cols)
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
            .col.col-4-sm.col--v-start
                .card.card--accent.card--small TOP
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
        
        h3 Central vertical self alignment
        .container
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
            .col.col-4-sm.col--v-center
                .card.card--accent.card--small CENTER
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
        
        h3 Bottom vertical self alignment
        .container
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
            .col.col-4-sm.col--v-end
                .card.card--accent.card--small BOTTOM
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 

        
        h3
            | Dynamic vertical self alignment 
            span.accent (md:start, lg:center, xl:end)
            div.additional (resize the window to see the changes)
        .container
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
            .col.col-4-sm.col--v-start-md.col--v-center-lg.col--v-end-xl
                .card.card--accent.card--small DYNAMIC
            .col.col-2-sm
                .card.card--large 
            .col.col-2-sm
                .card.card--large 
    
    section.demo-section
        h2 Horizontal container cols alignment

        h3 Start horizontal alignment
        .container.container--h-start
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card

        h3 Central horizontal alignment
        .container.container--h-center
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
        
        h3 End horizontal alignment
        .container.container--h-end
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card

        h3
            | Dynamic horizontal alignment 
            span.accent (md:start, lg:center, xl:end)
            div.additional (resize the window to see the changes)
        .container.container--h-start-md.container--h-center-lg.container--h-end-xl
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
                
    section.demo-section
        h2 Vertical container cols alignment

        h3 Top vertical alignment
        .container.container--v-start
            .col.col-3-sm
                .card.card--large 
            .col.col-3-sm
                .card
            .col.col-3-sm
                .card.card--small
            .col.col-3-sm
                .card.card--large
                
        h3 Central vertical alignment
        .container.container--v-center
            .col.col-3-sm
                .card.card--large 
            .col.col-3-sm
                .card
            .col.col-3-sm
                .card.card--small
            .col.col-3-sm
                .card.card--large

        h3 Bottom vertical alignment
        .container.container--v-end
            .col.col-3-sm
                .card.card--large 
            .col.col-3-sm
                .card
            .col.col-3-sm
                .card.card--small
            .col.col-3-sm
                .card.card--large

                
        h3
            | Dynamic vertical alignment 
            span.accent (md:start, lg:center, xl:end)
            div.additional (resize the window to see the changes)
        .container.container--v-start-md.container--v-center-lg.container--v-end-xl
            .col.col-3-sm
                .card.card--large 
            .col.col-3-sm
                .card
            .col.col-3-sm
                .card.card--small
            .col.col-3-sm
                .card.card--large

    section.demo-section
        h2 Grid col order
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-2-sm.col--order--1
                .card.card--accent -1
            .col.col-2-sm.col--order-0
                .card.card--accent 0
            .col.col-2-sm.col--order-1
                .card.card--accent 1
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-2-sm.col--order--1-sm.col--order-0-md.col--order-1-lg
                .card.card--accent DYNAMIC
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card

    section.demo-section
        h2 Grid push
        
        h3 col with push(4)
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.push-4
                .card.card--accent PUSH(4)
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
    
    
        h3
            | Dynamic push 
            span.accent (md: 2, lg: 3, xl: 4)
            div.additional (resize the window to see the changes)
        
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.push-2-md.push-3-lg.push-4-xl
                .card.card--accent DYNAMIC
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
    
    section.demo-section
        h2 Grid shift

        h3 col with grid-shift(4)
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.shift-4
                .card.card--accent SHIFT(4)
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
        
        h3
            | Dynamic grid-shift 
            span.accent (md: 2, lg: 3, xl: 4)
            div.additional (resize the window to see the changes)
        .container
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card 
            .col.col-1-sm
                .card 
            .col.col-2-sm.shift-2-md.shift-3-lg.shift-4-xl
                .card.card--accent DYNAMIC
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card
            .col.col-1-sm
                .card            
        
